name: Restore, build and test

on:
  push:
    branches:
      - "main"
    
jobs:
  build:
    runs-on: ubuntu-20.04
    
    steps:
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v3.0.3
        with:
          dotnet-version: 6.0
      - name: Checkout
        uses: actions/checkout@v3.3.0
      - name: Build
        working-directory: .
        run:
          dotnet build PhoneInfo.API.sln
        
  tests:
    runs-on: ubuntu-20.04

    steps:
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v3.0.3
        with:
          dotnet-version: 6.0
      - name: Checkout
        uses: actions/checkout@v3.3.0
      - name: Tests
        working-directory: .
        run: 
          dotnet test PhoneInfo.API.sln

